In [2]:
import pandas as pd
import numpy as np

In [3]:
tc = pd.read_csv("data_input/techcrunch.csv")

In [4]:
tc.head()

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

In [8]:
tc['round'].value_counts().head()

a        582
b        371
c        141
angel    135
seed     128
Name: round, dtype: int64

In [9]:
pd.crosstab(tc['round'], columns = 'count').head()

col_0  count
round
a        582
angel    135
b        371
c        141
d         47

In [14]:
pd.crosstab(tc['round'], columns = tc.state, margins=True).head()

state,AZ,CA,CO,CT,DC,FL,GA,IA,ID,IL,...,OH,OR,PA,RI,TN,TX,UT,VA,WA,All
round,,,,,,,,,,,,,,,,,,,,,
a,3,353,10,3,4,7,3,0,1,11,...,0,5,7,0,1,9,7,10,42,582
angel,1,74,3,1,1,4,0,1,0,2,...,0,1,1,0,0,1,0,0,14,135
b,1,234,8,2,1,6,1,0,1,2,...,1,2,1,0,1,8,2,7,23,371
c,1,89,2,1,1,1,1,0,0,1,...,0,0,1,0,1,3,2,4,9,141
d,0,32,0,1,2,0,1,0,0,0,...,0,0,0,0,0,0,0,1,2,47

In [22]:
pd.crosstab(tc['state'], tc['round'], normalize='index', margins=True)

round,a,angel,b,c,d,debt_round,e,seed,unattributed
state,,,,,,,,,
AZ,0.333333,0.111111,0.111111,0.111111,0.000000,0.000000,0.000000,0.333333,0.000000
CA,0.404353,0.084765,0.268041,0.101947,0.036655,0.013746,0.009164,0.064147,0.017182
CO,0.303030,0.090909,0.242424,0.060606,0.000000,0.030303,0.000000,0.272727,0.000000
CT,0.230769,0.076923,0.153846,0.076923,0.076923,0.000000,0.000000,0.307692,0.076923
DC,0.400000,0.100000,0.100000,0.100000,0.200000,0.000000,0.000000,0.100000,0.000000
FL,0.318182,0.181818,0.272727,0.045455,0.000000,0.000000,0.000000,0.090909,0.090909
GA,0.375000,0.000000,0.125000,0.125000,0.125000,0.000000,0.000000,0.250000,0.000000
IA,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ID,0.500000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
IL,0.647059,0.117647,0.117647,0.058824,0.000000,0.000000,0.000000,0.058824,0.000000
IN,0.400000,0.400000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
LA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
MA,0.401869,0.065421,0.271028,0.112150,0.037383,0.000000,0.000000,0.074766,0.037383
MD,0.500000,0.125000,0.125000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000
ME,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000
MI,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MO,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
NC,0.384615,0.153846,0.230769,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000
ND,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NE,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NJ,0.200000,0.000000,0.300000,0.200000,0.000000,0.000000,0.000000,0.000000,0.300000
NM,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
NY,0.368000,0.144000,0.240000,0.040000,0.032000,0.024000,0.008000,0.136000,0.008000
OH,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
OR,0.625000,0.125000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
PA,0.333333,0.047619,0.047619,0.047619,0.000000,0.047619,0.000000,0.476190,0.000000
RI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
TN,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
TX,0.360000,0.040000,0.320000,0.120000,0.000000,0.000000,0.000000,0.160000,0.000000
UT,0.583333,0.000000,0.166667,0.166667,0.000000,0.000000,0.000000,0.083333,0.000000
VA,0.434783,0.000000,0.304348,0.173913,0.043478,0.000000,0.000000,0.043478,0.000000
WA,0.432990,0.144330,0.237113,0.092784,0.020619,0.000000,0.020619,0.041237,0.010309
All,0.398630,0.092466,0.254110,0.096575,0.032192,0.011644,0.007534,0.087671,0.019178

In [23]:
pd.crosstab(tc['state'], tc['round'], normalize='all', margins=True)

round,a,angel,b,c,d,debt_round,e,seed,unattributed,All
state,,,,,,,,,,
AZ,0.002055,0.000685,0.000685,0.000685,0.000000,0.000000,0.000000,0.002055,0.000000,0.006164
CA,0.241781,0.050685,0.160274,0.060959,0.021918,0.008219,0.005479,0.038356,0.010274,0.597945
CO,0.006849,0.002055,0.005479,0.001370,0.000000,0.000685,0.000000,0.006164,0.000000,0.022603
CT,0.002055,0.000685,0.001370,0.000685,0.000685,0.000000,0.000000,0.002740,0.000685,0.008904
DC,0.002740,0.000685,0.000685,0.000685,0.001370,0.000000,0.000000,0.000685,0.000000,0.006849
FL,0.004795,0.002740,0.004110,0.000685,0.000000,0.000000,0.000000,0.001370,0.001370,0.015068
GA,0.002055,0.000000,0.000685,0.000685,0.000685,0.000000,0.000000,0.001370,0.000000,0.005479
IA,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
ID,0.000685,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001370
IL,0.007534,0.001370,0.001370,0.000685,0.000000,0.000000,0.000000,0.000685,0.000000,0.011644
IN,0.001370,0.001370,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003425
LA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685,0.000000,0.000685
MA,0.029452,0.004795,0.019863,0.008219,0.002740,0.000000,0.000000,0.005479,0.002740,0.073288
MD,0.002740,0.000685,0.000685,0.001370,0.000000,0.000000,0.000000,0.000000,0.000000,0.005479
ME,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001370,0.000000,0.002055
MI,0.000000,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
MN,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
MO,0.000000,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000685,0.000000,0.001370
NC,0.003425,0.001370,0.002055,0.002055,0.000000,0.000000,0.000000,0.000000,0.000000,0.008904
ND,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
NE,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
NJ,0.001370,0.000000,0.002055,0.001370,0.000000,0.000000,0.000000,0.000000,0.002055,0.006849
NM,0.000685,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685,0.002055
NY,0.031507,0.012329,0.020548,0.003425,0.002740,0.002055,0.000685,0.011644,0.000685,0.085616
OH,0.000000,0.000000,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685
OR,0.003425,0.000685,0.001370,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005479
PA,0.004795,0.000685,0.000685,0.000685,0.000000,0.000685,0.000000,0.006849,0.000000,0.014384
RI,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000685,0.000000,0.000685
TN,0.000685,0.000000,0.000685,0.000685,0.000000,0.000000,0.000000,0.000000,0.000000,0.002055
TX,0.006164,0.000685,0.005479,0.002055,0.000000,0.000000,0.000000,0.002740,0.000000,0.017123
UT,0.004795,0.000000,0.001370,0.001370,0.000000,0.000000,0.000000,0.000685,0.000000,0.008219
VA,0.006849,0.000000,0.004795,0.002740,0.000685,0.000000,0.000000,0.000685,0.000000,0.015753
WA,0.028767,0.009589,0.015753,0.006164,0.001370,0.000000,0.001370,0.002740,0.000685,0.066438
All,0.398630,0.092466,0.254110,0.096575,0.032192,0.011644,0.007534,0.087671,0.019178,1.000000

In [50]:
cond1 = (tc['state'] == 'NY')
cond2 = (tc['state'] == 'CA')
nyca = tc.loc[(cond1) | (cond2), :]
pd.crosstab(index=nyca['category'], 
            columns=nyca['round'], 
            values=nyca['raisedAmt'], 
            aggfunc='mean')/1000000

round,a,angel,b,c,d,debt_round,e,seed,unattributed
category,,,,,,,,,
biotech,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250000,NaN
cleantech,11.950000,1.000000,20.000000,NaN,NaN,NaN,NaN,NaN,NaN
hardware,12.068182,0.500000,24.310000,30.750000,72.500000,NaN,45.000000,0.583333,26.00000
mobile,4.592857,0.700000,8.140909,9.500000,16.250000,2.000000,20.000000,1.923333,NaN
other,6.600000,1.250000,16.333333,12.400000,NaN,NaN,NaN,5.250000,NaN
software,6.214375,1.668571,11.262500,18.033333,35.750000,3.500000,40.000000,0.204400,12.92500
web,7.151157,0.961861,11.763516,24.755132,26.726923,16.215385,19.533333,0.805719,8.65625

Hello class, for hands-on practice today we'll use a dataset relating to salary / HR / public sector. This is relevant to many of us since its industry agnostic. 

1. We'll want to perform cross-tabulation on Group (technical and engineering vs managerial etc) vs Pay Type (full-time vs part time). Count how many employees are there in each intersection. 

2. Do the same as (1) but this time, fill the values using the mean of salary for each intersection between these two variables. 

Among public sector workers on a full-time salary, are there any big pay discrepancy? Discuss your findings.

You should spend ~25 mins on the exercise above. You can choose which variable to use as the index / column. Please feel free to discuss with your team mates.

In [3]:
salary = pd.read_csv("data_input/salary.csv")

In [4]:
salary.head()

,Authority Name,Fiscal Year End Date,Has Employees,Last Name,Middle Initial,First Name,Title,Group,Department,Pay Type,Exempt Indicator,Base Annualized Salary,Actual Salary Paid,Overtime Paid,Performance Bonus,Extra Pay,Other Compensation,Total Compensation,Paid By Another Entity,Paid by State or Local Government
0,Albany County Business Development Corporation,2017-12-31T00:00:00.000,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albany County Capital Resource Corporation,2017-12-31T00:00:00.000,NaN,Maikels,F,Allen,Accountant,Professional,NaN,PT,Y,4800.0,4800.0,0.0,0.0,0.0,0.0,4800.0,N,NaN
2,Allegany County Capital Resource Corporation,2017-12-31T00:00:00.000,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Allegany County Land Bank Corporation,2017-12-31T00:00:00.000,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Auburn Local Development Corporation,2017-12-31T00:00:00.000,NaN,Sheppard,NaN,Joseph,Acting Treasurer/ Acting Secretary,Administrative and Clerical,Cayuga Economic Development Agency,PT,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Y,N

In [10]:
pd.crosstab(index = salary['Group'],
           columns = salary['Pay Type'],
           margins = 'all',
           margins_name = 'Combined')

Pay Type                       FT    PT  Combined
Group
Administrative and Clerical  1037   597      1634
Executive                     792   553      1345
Managerial                    697   183       880
Operational                   795   333      1128
Professional                 2804   422      3226
Technical and Engineering     149    13       162
Combined                     6274  2101      8375

In [15]:
#annualized_salary = 
pd.crosstab(index = salary['Group'],
           columns = salary['Pay Type'],
           margins = 'all',
           values=salary['Base Annualized Salary'], 
           aggfunc='mean',
           margins_name = 'Average').round(2)

Pay Type                           FT        PT   Average
Group
Administrative and Clerical  39619.39   7311.21  27815.24
Executive                    81292.37   8362.41  51307.04
Managerial                   94979.80  11769.59  77675.86
Operational                  41506.70   7546.54  31481.22
Professional                 70793.32  13749.83  63331.34
Technical and Engineering    50843.93   4934.30  47159.83
Average                      65468.25   9292.06  51375.57

In [21]:
bl = pd.read_csv('data_input/online_bl.csv')
bl.head()

,item_link,title,price_original,price_discount,sub_category,time_update,scale
0,https://www.bukalapak.com/p/kesehatan-2359/pro...,Rinso Molto Deterjen Bubuk 1.8 kg,30000.0,NaN,detergent,10/20/2018 1:32,1.8 kg
1,https://www.bukalapak.com/p/rumah-tangga/home-...,Terlaris - DETERGENT RINSO ANTI NODA 1.8 KG 1 ...,49000.0,NaN,detergent,9/20/2018 1:02,1.8 kg
2,https://www.bukalapak.com/p/rumah-tangga/home-...,Good Rinso Molto Purple 1.8 Kg,50000.0,NaN,detergent,10/13/2018 10:46,1.8 kg
3,https://www.bukalapak.com/p/rumah-tangga/home-...,Order Rinso Molto Purple 1.8 Kg,49000.0,NaN,detergent,9/24/2018 15:17,1.8 kg
4,https://www.bukalapak.com/p/rumah-tangga/home-...,Promonya Rinso Molto Purple 1.8 Kg,49000.0,NaN,detergent,9/27/2018 11:16,1.8 kg

In [23]:
list(bl.item_link)[0:2]

['https://www.bukalapak.com/p/kesehatan-2359/produk-kesehatan-lainnya/qm3d7z-jual-rinso-molto-deterjen-bubuk-1-8-kg?from=&product_owner=normal_seller',
 'https://www.bukalapak.com/p/rumah-tangga/home-stuff/nb4nqe-jual-terlaris-detergent-rinso-anti-noda-1-8-kg-1-8-kg?from=&product_owner=normal_seller']

In [24]:
pd.pivot_table(
    data=bl, 
    index='title',
    columns='sub_category',
    values='price_original',
    aggfunc='mean'
)

sub_category,detergent,rice,sugar
title,,,
ARENISS Gula Kawung Aren Semut Serbuk Organik Sehat Alami Wangi Palm Brown Curah Bulk Ekspor Industri 5 kg bukan Gula Kelapa Jawa,NaN,NaN,200000.0
ATTACK Detergent Bubuk Clean Maximizer UKURAN 800 GRAM,20000.0,NaN,NaN
ATTACK DETERGENT BUBUK CLEAN MAXIMIER 800 GRAM,20000.0,NaN,NaN
Alumunium Amonium Sulfat - Tawas Gula - Ex. Timuraya 1 kg,NaN,NaN,6500.0
Angkak beras merah 1kg 1 kg,NaN,60000.0,NaN
Arborio Rice 1kg l Risotto Rice l Riso Risotto l Beras Arborio,NaN,155000.0,NaN
Arborio Rice RISO RISERVA GALLO 1856 1 kg beras risotto,NaN,128000.0,NaN
Ayudya Lulur Pengantin Putih Beras 1kg,NaN,40000.0,NaN
Ayudya Lulur Pengantin Putih Whitening Beras 1kg,NaN,33000.0,NaN
Ayudya Lulur Pengantin Putih Whitening Beras 1kg original kece group,NaN,33000.0,NaN
BERAS 5 KG PANDAN WANGI,NaN,85000.0,NaN
BERAS ASLI SOLO 5 KG PREMIUM SUPER KEPALA,NaN,65000.0,NaN
BERAS BMW 5 KG,NaN,65000.0,NaN
BERAS BMW PANDAN WANGI 5 KG,NaN,65000.0,NaN
BERAS BMW PANDAN WANGI SUPER ASLI 5 KG,NaN,85000.0,NaN
BERAS BMW SETRA RAMOS 5 KG,NaN,65000.0,NaN
BERAS BPS LIMAS 5 KG | BPS,NaN,62000.0,NaN
BERAS CAP BMW PANDAN WANGI SUPER 5 KG,NaN,80000.0,NaN
BERAS CAP LELE 5 KG,NaN,60000.0,NaN
BERAS CAP MENTARI-MTR-ASLI-KEMASAN 1 KG,NaN,12000.0,NaN
BERAS DIET KETO DIABETES SHIRATAKI RICE 1 kg,NaN,235900.0,NaN
BERAS EM RICE HIJAU 5 KG ASLI SOLO PULEN ISTIMEWA,NaN,65000.0,NaN
BERAS GOLDEN BASMATI PREMIUM QUALITY MERK ABU KASS kemasan repacking per 1 kg,NaN,100000.0,NaN
BERAS HITAM 1kg,NaN,18000.0,NaN
BERAS HITAM PREMIUM MLATIHARJO 1kg,NaN,32000.0,NaN
BERAS HITAM RICE ME 1 KG,NaN,24000.0,NaN
BERAS KEPALA SLYP SUPER BUNGA AAA 5 KG,NaN,65000.0,NaN
BERAS KEPALA SLYP SUPER CAP BURUNG HONG SETRA RAMOS 5 KG,NaN,65000.0,NaN
BERAS KEPALA SLYP SUPER CAP KEMBANG RAMOS SETRA 5 KG,NaN,60000.0,NaN
BERAS KEPALA SLYP SUPER CAP REJEKI SETRA RAMOS 5 KG,NaN,65000.0,NaN
...,...,...,...
beras rojolele 5 kg,NaN,60750.0,NaN
beras setra ramos 5 kg,NaN,50000.0,NaN
"beras sushi,beras seishin japonica rice 1kg repacking,beras jepang untuk sushi",NaN,36000.0,NaN
beras taj mahal 5 kg,NaN,245000.0,NaN
beras tiwul 1 kg,NaN,29500.0,NaN
beras topi koki 5 kg - kualitas premium setra ramos exp 2019,NaN,61500.0,NaN
beras white pearl gold 5kg basmati sella pakistan india abu kass kas abukass abukas 5 kg,NaN,350000.0,NaN
beras white pearl gold kas 5 kg basmati sella rice abukas abu kass 5kg murah kwalitas,NaN,262500.0,NaN
detergent bubuk rinso 800 gram,15000.0,NaN,NaN
gula aren asli keras cililin bandung 1 kg,NaN,NaN,28000.0
gula aren asli per 1 kg,NaN,NaN,14200.0
gula aren segar 5 kg gula asli dari kota cililin bandung,NaN,NaN,150000.0
gula gmp 1 kg,NaN,NaN,12000.0
gula lokal 1 kg,NaN,NaN,13500.0
gula pasir gmp gunung madu 1 dus isi 20 kg kemasan 1 kg,NaN,NaN,237900.0
gula pasir gulaku 1 kg,NaN,NaN,12400.0
gula pasir packing plastik kemasan 1 kg,NaN,NaN,13000.0
gula pasir rose brand 1 kg,NaN,NaN,16500.0
gula rose brand 1 kg,NaN,NaN,17000.0
jual Promo beras pandan wangi Mama 5kg 2kg Gula GMP,NaN,NaN,156000.0
kulit kayu raru 1 kg. herbal untuk gula darah paket hemat,NaN,NaN,29000.0
maltodextrin 5 kg tepung filler pengental gula malto dextrin dex malt,NaN,NaN,85000.0
netto 1 KG Beras-Nasi-Ampok-Gerit Jagung 12,NaN,10000.0,NaN
paket sushi halal nori 10 sushimat beras 1kg dan bumbu semua sedap,NaN,95000.0,NaN
paket sushi hemat nori 10lembar beras 1kg sushimat kikoman 20,NaN,94000.0,NaN
plastik beras 5 kg,NaN,85000.0,NaN
plastik es gula 1 kg kantong es mambo 1kg pe super,NaN,NaN,11000.0
rinso anti noda 1.8 kg,33000.0,NaN,NaN
rinso molto 1.8 kg,34900.0,NaN,NaN
sablon plastik beras 5 kg,NaN,800.0,NaN